{{#each this}}
<li class="photo-card">
    <img class="list-image" data-source="{{largeImageURL}}" src="{{webformatURL}}" data-index="{{dataIndex}}"
        alt="{{tags}}" loading="lazy" />
    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">downloads</i>
            {{downloads}}
        </p>
    </div>
</li>
{{/each}}